body {
  background-color: aliceblue;
}
/* Heading  */
.heading {
  font-size: 4rem;
  width: 100%;
  text-align: center;
}

/* Input Box  */
.section-1 {
  display: flex;
  justify-content: center;
}
.section-1 input {
  border: none;
  background-color: rgb(125, 191, 248);
  height: 40px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 0px 20px;
}

.section-1 button {
  border: none;
  font-size: 1.5rem;
  background-color: rgb(125, 191, 248);
  margin: 0px 10px;
  padding: 5px 20px;
  border-radius: 10px;
}
.section-1 button:hover {
  background-color: rgb(119, 146, 146);
}

#SuperHeroImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

#SuperHeroImage img {
  width: 250px;
}
